{% extends 'admin/base.html.twig' %}

{% block title %} Administration des Commentaires {% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1 class="my-5">Administration des Commentaires</h1>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Auteur</th>
                    <th>Commentaire</th>
                    <th>Note</th>
                    <th>Annonce</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% for comment in comments %}
                    <tr>
                        <th>{{ comment.id }}</th>
                        <th>{{ comment.createdAt | date('d/m/ Y H:i') }}</th>
                        <th><img src="{{ comment.author.picture }}" class="avatar1 avatar-micro" alt="Avatar de {{ comment.author.fullName }}">{{ comment.author.fullName }}</th>
                        <th>{{ comment.content }}</th>
                        <th class="text-center">
                            <span class="badge badge-dark rounded">
                                {{ comment.rating }}
                            </span>
                        </th>
                        <th>{{ comment.ad.title }}</th>
                        <th class="text-center">
                            <a href="{{ path('admin_comment_edit',{'id':comment.id}) }}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                            <a href="{{ path('admin_comment_delete',{'id':comment.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        
        
        
    </div>

{% endblock %}