{% extends 'base.html.twig' %}

{% block title %}Creation d'une annonce{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}


{% block body %}
    <div class="container">
        <h1>Creer une nouvelle annonce </h1>
        {{ form_start (form)}}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Creer la nouvelle annonce</button>

        {{ form_end(form) }}
    </div>
{% endblock %}


{% block _ad2_images_widget %}
    <p>ici vous ouvez ajouter vos propres Image</p>

    {{ form_widget(form) }}

    <input type="hidden" id="widget-counter" value="0">
    <div class="form-group ">
       <button type="button" id="add-image" class="btn btn-primary">Ajoutez une image</button>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('build/js/ad.js') }}">

    </script>

{% endblock %}